
#main_container{
     
    width: 980px;
    
}

#head_container {
    display: flex;
    flex-direction: column;
    border:solid 2px black;
    padding: 20px;
}

#left_right_wrapper{
    display: flex;
    flex-direction: row;
}

#oneday{
    display: none;
}
#oneday .display{
    display: block;
}

#manydays{
    display: none;
}

#left_container{
    width: 50%;
    border: solid 2px black;
    padding: 20px;
    box-sizing: border-box;
}

.div_element{
    border-top: solid 1px black;
}

#right_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 30px;
    border: solid black 2px;
}

#signatur_block{
    width: 80%;
    border: solid rgb(0, 0, 0) 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    
}

#signatur_block label{
        margin-bottom: 15px;
    }

#signatur_student {
    width: 80%;
    height: 100px;
    margin-bottom: 25px;
}
#signatur_teacher {
    width: 80%;
    height: 100px;
    
}

#director_block{
    width: 100%;
    display: flex;
    flex-direction: row;
    
    

}

#director_block div{
    display: flex;
    flex-direction: column;
    
    
}
#director_block label{
    margin-bottom: 10px;
    
}
#director_opinion_block{
    width: 70%;
}
#director_opinion {
    height: 250px;
}
#director_desicion {
    height: 250px;
}