body{
    display: flex;
    justify-content: center;
    padding: 50px;
    font-family: sans-serif;
}
#main_container{
    border:solid 1px rgb(0, 0, 0);
    border-radius: 7px;
    width: 980px;
}

#head_container {
    display: flex;
    flex-direction: column;
    border-bottom:solid 1px rgb(0, 0, 0);

    h1 {
    text-align: center;
    margin-top: 30px;
    color: #2a5a03;
    font-size: 35px;
    font-weight: 700;
}
    h2 {
    margin-top: 15px;
    color: #2a5a03;
}
    p{
        margin: 0px;
    }
}   

#head_input_box {
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    label{
        font-weight: 700;
        letter-spacing: 0.1px;
    }
    input{
                margin-bottom: 15px;

    }
    
}

input[type="text"],
input[type="date"],
input[type="time"] {
    margin-top: 6px;
    padding: 10px 12px;

    border-radius: 6px;
    border: 1px solid #ccd5c1;

    font-size: 14px;
    transition: 
        border-color 0.2s ease,
        box-shadow 0.2s ease;
}

#abscent_days_block{
    padding: 30px;
    
    
}

#error_message {
    min-height: 18px;
    text-align: center;
    color: #c0392b;
    font-size: 14px;
}

 
.date-button,
.submit-btn {
    min-height: 50px;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;

    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;

    cursor: pointer;
    transition: 
        background-color 0.25s ease,
        transform 0.15s ease,
        box-shadow 0.15s ease,
        opacity 0.2s ease;
}


.date-button {
    background-color: #c9d6a3;   
    color: #4a5d23;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
    margin-bottom: 10px;
    
}

.date-button.active {
    background-color: rgb(93, 151, 5);
    color: #ffffff;
    box-shadow: 0 6px 12px rgba(93, 151, 5, 0.35);
}

.date-button:active {
    transform: scale(0.97);
}

.date-button:not(.active):hover {
    background-color: #b6c98a;
}

.submit-btn {
    margin: 15px;
    background-color: rgb(228, 188, 11);
    color: #3b2f00;
    box-shadow: 0 5px 10px rgba(228, 188, 11, 0.35);
}

.submit-btn:hover {
    background-color: rgb(240, 200, 30);
}

.submit-btn:active {
    transform: scale(0.97);
}

button:disabled {
    opacity: 1;                  
    cursor: default;

    background-color: #5d9705;   
    color: #ffffff;

    box-shadow: 
        inset 0 2px 4px rgba(0,0,0,0.25); 

    transform: translateY(1px); 
    border: 1px solid #4a7a04;
}



#left_right_wrapper{
    display: flex;
    flex-direction: row;
}

#oneday{
    display: none;
    input{
        margin: 5px;
    }
}
#oneday .display{
    display: block;
}

#manydays{
    display: none;
    input{
        margin: 5px;
    }
}

#left_container{
    width: 50%;
    
    padding: 20px;
    box-sizing: border-box;
    border-bottom: solid black 1px;
}

.div_element{
    border-top: solid 1px black;
}

#right_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 30px;
    border-left: solid black 1px;
    border-bottom: solid black 1px;
}

#signature_block{
    width: 80%;
    border: solid rgb(0, 0, 0) 1px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    
}

#signature_block label{
        margin-bottom: 15px;
    }

#signature_student {
    width: 80%;
    height: 100px;
    margin-bottom: 25px;
    
}
#signature_teacher {
    width: 80%;
    height: 100px;
    
}

#director_block{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

#director_block div{
    display: flex;
    flex-direction: column;
    height: 100%;
    
}
#director_block label{
    margin-bottom: 10px;
    min-height: 40px;
    
}

#director_block input {
    height: 250px;
}

#director_opinion_block{
    width: 70%;
}
#director_opinion {

}
#director_desicion {

}